<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>digits01</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="video-container">
        <video id="introVideo" autoplay muted>
            <source src="{{ url_for('static', filename='media/Intro.mp4') }}" type="video/mp4">
            The MP4 failed to load. Please use another Browser.
        </video>
    </div>
    <div id="gif-container" style="display: none;">
        <link rel="stylesheet" href="button.css">
        <img src="{{ url_for('static', filename='media/loopvideo.gif') }}" alt="Looping GIF">
        <button class="button-19" id="startbut" onclick="startProgram()">Draw a Number</button>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var introVideo = document.getElementById('introVideo');
            var gifContainer = document.getElementById('gif-container');
            var videoContainer = document.getElementById('video-container');
            var startbutton = document.getElementById('startbut');

            introVideo.onended = function() {
                videoContainer.style.display = 'none';
                gifContainer.style.display = 'block';
                setTimeout(function() {
                    startbutton.style.display = 'inline-block';
                    startbutton.classList.add('show');
                }, 100);
            };
        });
        // START NEXT PROGRAM
        function startProgram()
        {
            fetch('/execute_draw', {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    alert(data.output);
                });
        }
    </script>
</body>
</html>
